* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  color: #000000;
  line-height: 1.6;
}

/* ===== Header ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(23, 64, 96);
}

.logo span {
  color: black;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(23, 64, 96);
  font-weight: 600;
  transition: 0.3s;
  padding: 30px 20px;
}

.nav-links a:hover {
  color: black;
  background-color: #d8d8d8;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: rgb(23, 64, 96);;
  margin: 4px 0;
  transition: 0.3s;
}

/* ===== Hero ===== */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(23, 64, 96, 0.555)),
    url("images/20250917_110942.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero h1 span {
  color: rgb(23, 64, 96);
}

.hero p {
  margin: 15px 0 30px;
  font-size: 1.1rem;
}

.btn {
  background: rgb(23, 64, 96);
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(12, 37, 56);
  box-shadow: 0px 0px 10px rgb(23, 64, 96);
}

/* ===== Sections ===== */
section {
  padding: 100px 50px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(23, 64, 96);
  margin-bottom: 40px;
}

/* ===== About ===== */
.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.about-img {
  width: 250px;
  border-radius: 10px;
}

.about-text {
  flex: 1;
  max-width: 600px;
}
.about-text p{
  text-align: justify;
}

/* ===== Skills ===== */
.skills-container {
  max-width: 700px;
  margin: 0 auto;
}

.skill {
  margin-bottom: 20px;
}

.bar {
  background: #ddd;
  border-radius: 10px;
  height: 10px;
  overflow: hidden;
}

.bar span {
  display: block;
  height: 100%;
  background: rgb(23, 64, 96);;
}

/* ===== Projects ===== */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
  padding: 10px;
}
.project-card p{
  text-align: justify;
}

.icons {
  width: 80px;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* ===== Education ===== */
.education{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.education-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.edu-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* ===== Contact ===== */
.contact {
  background: #f8f8f8;
  text-align: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-links a {
  text-decoration: none;
  background: rgb(23, 64, 96);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.contact-links a:hover {
  background: rgb(13, 39, 59);
}
.social-media-icons{
  width: 50px;
  padding-right: 10px;
}
.contact-links a{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ===== Footer ===== */
footer {
  text-align: center;
  padding: 20px;
  background: rgb(23, 64, 96);
  color: white;
}

/* ===== Responsive ===== */
@media (max-width: 911px) {
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    flex-direction: column;
    background: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 20px 0;
  }

  .nav-links.active {
    right: 0;
  }
  .education-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
}

  .hamburger {
    display: flex;
  }
  .hamburger.active span:nth-child(1){
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2){
    opacity: 0;
  }
  .hamburger.active span:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
  }
  .hero h1 {
    font-size: 2rem;
  }

  section {
    padding: 80px 20px;
  }
}
